.container{
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer{
    width:320px;
    padding: 30px 20px;
    background-color: rgb(223, 205, 205);
    border-radius: 20px;
}

.heading{
    text-align: center;
    color: black;
    margin-bottom: 35px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap:20px;
}

.input{
    height: 35px;
    background-color: white;
    color:black;
    gap: 20px;
    padding: 0 10px;
    border-radius: 70px;
}

.input::placeholder{
    color: #555555;
}

.button{
    width: 100px;
    height:35px ;
    margin-top: 20px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(157, 129, 240);;
}